#a:hover{
    transform: scale(2);
}
#a:active{
    transform: rotate(180deg);
}

#b:hover{
    transform: translateX(100px) rotate(40deg)  ;
}

#b:active{
    transform: translateX(200px);
}

p{
    transform: scale(0.5) translateX(20px) rotate(35deg);
}