.de {
    height: 50px;
    width: 50px;
    background-color: grey;
    border: 1px solid red;
    border-radius: 10%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

point1 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: red ;
    display:inline-block;
    flex-direction: row;
    align-self: center;
}

