p{
    background-color: rgb(150, 150, 150);
    border: 1px solid rgb(0, 211, 0);

}

p:nth-child(1){
    height: 100px;
    padding: 20px;
    margin: 0px;
}

p:nth-child(2){
    width: 50%;
    padding: 1.2em;
    margin: 20px 5px 20px;
}

p:nth-child(3){
    height: 200px;
    width: 200px;
    padding: -30px;
    margin: auto;
}


body{
    background-color: rgb(152, 116, 220);
    margin: 0px;
}