*{
    background-image: radial-gradient(#CCDAE0 0%,#EDF2F4 0%);
}

header{
    text-align: center;
}

h1{
    color: #ef233c;
    font-size: 50px;
    font-weight: bold;
    font-family: Impact;
}

h3{
    color: #2B2D42;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline dotted;
}

article{
    border: 1px solid black;
}

article img{
    text-align:center;
    margin:auto;
    display:flex;
    border: 2px solid #8D99AE;
}

footer{
    text-align: right;
}

ul{
    list-style-type: none;
}

a:link{
    color: #D90429;
}

a:visited{
    color: grey;
}

a:hover{
    color: #2B2D42;
}

.obl::after{
    content: "⭐";
}

span{
    color: red;
}